* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-repeat: no-repeat;
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
  text-align: center;
  color: white;
  font-size: 35px;
}
#chosenCategary {
  font-weight: 900;
  font-size: 40px;
  margin-top: 5px;
}
.transparrent{
  background-color: transparent;
}

#Clue {
  margin-top: 5px;
  color: rgb(247, 0, 255);
  font-size: 30px;
}

#box {
  margin: 0 auto;
  margin-top: 10px;
  width: 350px;
  height: 200px;
  border: 2px dashed #d6e95f;
}
p {
  margin-top: 5px;
  font-weight: 700;
}
#stand {
  margin-top: 120px;
  margin-left: 30px;
  width: 150px;
  height: 2px;
}

#danda {
  position: absolute;
  margin-top: -23px;
  margin-left: 40px;
  height: 145px;
  width: 3px; 
}

#hangStand {
  width: 95px;
  height: 2px;
  margin-top: 40px;
  margin-left: 20px;
}

#hang {
  height: 10px;
  width: 1px;
  margin-top: 0px;
  margin-left: 97px;
}

#head {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 88px;
}
#neack {
  position: absolute;
  width: 1px;
  height: 60px;
  margin-left: 97px;
  margin-top: 20px;
}
#righthand {
  position: absolute;
  width: 1px;
  height: 40px;
  margin-left: 77px;
  transform: rotate(83deg);
  margin-top: 20px;
}
#lefthand {
  position: absolute;
  width: 1px;
  height: 40px;
  margin-left: 117px;
  transform: rotate(-83deg);
  margin-top: 20px;
}
#leftleg {
  position: absolute;
  width: 1px;
  height: 40px;
  margin-left: 78px;
  transform: rotate(70deg);
  margin-top: 65px;
}
#rightleg {
  position: absolute;
  width: 1px;
  height: 40px;
  margin-left: 116px;
  transform: rotate(-70deg);
  margin-top: 65px;
}
.key {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#keyboard {
  margin-top: 10px;
  background-color: #fedbae;
  border-radius: 20px;
}
.row {
  margin-left: 5px;
  margin-right: 5px;
}

.alphabet {
  width: 55px;
  height: 55px;
  border-radius: 20%;
  font-size: 20px;
  cursor: pointer;
  margin: 3px 0 3px 0;
}

.box {
  display: inline-block;
  color: transparent;
}
#attemps {
  font-size: 1rem;
  color: blue;
}

.white {
  background-color: white;
}

.chita{
  color: white;
}
